body{
    font-family: 'Raleway', sans-serif;
}
main{
    padding-bottom: 75px;
}
form{
    width: 100%;
}
textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 125px;
    box-sizing: border-box;
}